.container-fluid
  .navbar
    .navbar-inner
      = link_to ("<span class='icon-bar'></span>"*3).html_safe, '#', class: "btn btn-navbar", :"data-toggle" => "collapse", :"data-target" => ".nav-collapse"

      .brand.stamped.bold
        = link_to  "A64-ADMIN", main_app.root_path

      .nav-collapse
        %ul.nav
          %li.dropdown
            = link_to "Admin #{caret}".html_safe, "#", class: "dropdown-toggle", "data-toggle" => "dropdown"
            %ul.dropdown-menu
              %li=link_to "Placeholder", "#"
        %ul.nav.pull-right
          %li= link_to icon(:home).html_safe + " Application", main_app.root_path
